# Perform LF normalization
*.cs            text diff=csharp
*.sql           text
*.md            text
*.config        text
*.config.sample text

*.csproj text merge=union
*.sln    text merge=union eol=crlf
