# Floofbot Config File

# The prefix to use for the bot commands
Prefix: "."

# The bot's status
# Name and Details are strings
# For the available Types and Flags check the wiki
#   https://github.com/bealsbe/Floofbot/wiki
Activity:
  Name: "🦉 Simulator"
  Type: "Playing"
  Flags: "None"
  Details: ""

# The token to use for the bot.
# This must be a valid Discord bot token
Token: ""

# Modmail enabled Server
# Set this to a valid Server ID
ModMailServer: ""

# Path to the SQLite database file
DbPath: "floofData.db"

# These configure the backup settings
# BackupOutputPath = output path for backups, BackupScript = path to backup script
# NumberOfBackups = The number of backups to store before overwriting
BackupOutputPath: "./"
BackupScript: "./scripts/LinuxBackupScript"
NumberOfBackups: 14

# The list of random responses the bot gives out
# Input: a regex of the user input, case *insensitive*
# Response: the bot response, case *sensitive*
# Probability: the probability of the response occuring, between 0 and 1
RandomResponses:
  - Input: "\\bawo[o]+\\b"
    Response: "Legalize Awoo!"
    Probability: 0.05
  - Input: "\\bOwO\\b"
    Response: "UwU"
    Probability: 0.01
  - Input: "\\bUwU\\b"
    Response: "OwO"
    Probability: 0.01
  - Input: "^lol$"
    Response: "lol"
    Probability: 0.1
