# Floofbot Config File

# The prefix to use for the bot commands
Prefix: "."

# The bot's status
# Name and Details are strings
# For the available Types and Flags check the wiki
#   https://github.com/bealsbe/Floofbot/wiki
Activity:
  Name: "🦉 Simulator"
  Type: "Playing"
  Flags: "None"
  Details: ""

# The token to use for the bot.
# This must be a valid Discord bot token
Token: ""

# Modmail enabled Server
# Set this to a valid Server ID
ModMailServer: "0"

# Path to the SQLite database file
DbPath: "floofData.db"

# These configure the backup settings
# BackupOutputPath = output path for backups, BackupScript = path to backup script
# NumberOfBackups = The number of backups to store before overwriting
BackupOutputPath: "./"
BackupScript: "./scripts/LinuxBackupScript"
NumberOfBackups: 14

# The list of random responses the bot gives out
# Input: a regex of the user input, case *insensitive*
# Response: the bot response, case *sensitive*
# Probability: the probability of the response occuring, between 0 and 1
RandomResponses:
  - Input: "\\bawo[o]+\\b"
    Response: "Legalize Awoo!"
    Probability: 0.05
  - Input: "\\bOwO\\b"
    Response: "UwU"
    Probability: 0.01
  - Input: "\\bUwU\\b"
    Response: "OwO"
    Probability: 0.01
  - Input: "^lol$"
    Response: "lol"
    Probability: 0.1

RaidProtection:
  # the total number of mentions a user can have before taking action
  MaxMentionCount: 10
  # determines how long before a user is forgiven for a punishment
  ForgivenDuration: 300000
  # determines the rate at which users can send messages, currently no more than x messages in y seconds
  DurationForMaxMessages: 5000
  # determines the max number of punishments a user can have before being punished
  MaxNumberOfPunishments: 3
  # the delay before the bot msg is deleted in ms
  BotMessageDeletionDelay: 3000
  # the duration before a user is removed from the list of punished users in ms
  RemovePunishedUserDelay: 1800000
  # the number of punished users within a time frame before the mods are alerted of possible raids
  MaxNumberPunishedUsers: 3
  # These are used to determine if there are an excessive number of joins in a short time frame
  MaxNumberOfJoins: 5
  UserJoinsDelay: 120000
  # The max number of repeated emojis before triggering the raid protection
  MaxNumberEmojis: 5